$background_color:#6E6E6E;
$computed_line_height: 25px;
$panel_color: #000000;
$bmw_blue: #007bba;

body{
	padding:$computed_line_height;
	background-color:black;
}

.well{
	margin-bottom:0px;
	margin-top:$computed_line_height/2;

	background-color:rgba(white, 0.9);

	border-color:white;
	border-radius: 0px;

	width:100%;
}

.centered{
	text-align:center;
}

#highlighted{
	color:$bmw_blue;
}

.btn-primary{
  color: #ffffff !important;
  background-color: #101010 !important;
  border-color: #000000 !important;
  outline:0px !important;
}